/* LOGIN & REGISTO */
.login-registo {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 32rem;
}

.login-registo .entrar {
  display: flex;
  flex-direction: column;
  max-width: 19rem;
}

.login-registo .registar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-registo .registar .vantagens {
  display: flex;
  align-items: center;
}

.login-registo .registar .vantagens i {
  color: var(--cor-sucesso);
}

/*SECÇÃO DE PAGAMENTO 1*/
.pagamento {
  margin: 2rem 0;
}

.lista-compras .linha-compra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-compras .informação {
  display: flex;
  flex-direction: column;
}

.lista-compras .informação .entrega-prevista {
  display: flex;
}

.campo-inferior {
  display: flex;
  justify-content: space-between;
}

.campo-inferior .vale-desconto {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.campo-inferior .vale-desconto i {
  position: absolute;
  left: 0.5rem;
}

.campo-inferior .vale-desconto input {
  text-indent: 1.5rem;
}
