/* PÁGINA INICIAL */

/* NAVEGAÇÃO */
.navegação {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navegação .nav-header {
  display: flex;
  align-items: center;
}

.navegação .nav-header i {
  margin-right: 2rem;
}

.navegação .nav-items {
  display: flex;
  align-items: center;
}

.navegação .nav-items .pesquisar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.navegação .nav-items .pesquisar i {
  position: absolute;
  left: 0.5rem;
}

.navegação .nav-items .pesquisar input {
  text-indent: 1.5rem;
}

.navegação .nav-items .menus i {
  margin-right: 1rem;
}

/* SECÇÕES PRODUTOS */
.produtos .título {
  margin-bottom: 2rem;
}

.produtos .cartões-produto {
  display: flex;
  gap: 4rem;
}

.produtos .cartão-produto {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.produtos .cartão-produto .data-entrega {
  display: flex;
  align-items: center;
  color: var(--cor-sucesso);
}

.produtos .cartão-produto .preço {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.produtos .cartão-produto .favoritos {
  display: flex;
  align-items: center;
}

.produtos .cartão-produto .favoritos i {
  color: var(--cor-alerta);
}

/* SECÇÃO OPINIÕES */
.opiniões .título {
  margin-bottom: 2rem;
}

.opiniões .cartões-opinião {
  display: flex;
  gap: 4rem;
}

.opiniões .cartão-opinião {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  border: 1px solid var(--cor-cinzento-10);
  border-radius: 0.25rem;
  padding: 1rem;
}

.opiniões .cartão-opinião .header {
  display: flex;
  justify-content: space-between;
}

.opiniões .cartão-opinião .header .tempo {
  display: flex;
  align-items: center;
}

.opiniões .cartão-opinião .perfil {
  display: flex;
  align-items: center;
}

.opiniões .cartão-opinião .perfil img {
  margin-right: 0.5rem;
}

/* SECÇÃO NEWSLETTER */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.newsletter .subscrição {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.newsletter .subscrição a {
  margin: 0.25rem 0;
}

/* RODAPÉ */
.rodapé {
  display: flex;
  justify-content: space-between;
}

.rodapé .rodapé-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rodapé .rodapé-header .redes-sociais i {
  margin-right: 1rem;
}

.rodapé .rodapé-info {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.rodapé .rodapé-pagamento {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
}

.rodapé .rodapé-pagamento .pagamentos {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* LOGIN & REGISTO */
.login-registo {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 32rem;
}

.login-registo .entrar {
  display: flex;
  flex-direction: column;
  max-width: 19rem;
}

.login-registo .registar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-registo .registar .vantagens {
  display: flex;
  align-items: center;
}

.login-registo .registar .vantagens i {
  color: var(--cor-sucesso);
}

/* DETALHES DE PRODUTO */

/* APRESENTAÇÃO PRODUTO */
.apresentação {
  display: flex;
  flex-wrap: wrap;
}

.apresentação > * {
  flex: 1 1 12rem;
}

.apresentação .fotografias {
  display: flex;
}

.apresentação .fotografias .miniaturas {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* INFORMAÇÃO PRODUTO */
.informação {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.informação .info-produto {
  display: flex;
  gap: 2rem;
}

.informação .informações {
  display: flex;
}

.informação .informações i {
  color: var(--cor-sucesso);
}

.informação .etiqueta-primária {
  align-self: flex-start;
}

.informação .preço {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.informação .preço > h3 {
  color: var(--cor-cinzento-60);
  font-weight: 400;
}

.informação .classificação-produto {
  display: flex;
  align-items: center;
}

.informação .classificação-produto .opiniões {
  display: flex;
  align-items: center;
}

.adicionar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.adicionar a {
  display: flex;
  align-items: center;
}

.adicionar button i {
  border: 2px solid #000;
  border-radius: 50%;
  padding: 0.5rem;
}

/* SECÇÃO DETALHES E OPINIÕES */
#info-detalhes > * {
  flex-basis: 100%;
  flex: 1 1 30rem;
}

.detalhes-opiniões button {
  width: 25%;
}

.detalhes .especificações .spec {
  display: flex;
  gap: 2rem;
}

/*SECÇÃO DE PAGAMENTO 1*/
.pagamento button {
  width: 100%;
}

.lista-compras .linha-compra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista-compras .informação {
  display: flex;
  flex-direction: column;
}

.lista-compras .informação .entrega-prevista {
  display: flex;
}

.campo-inferior {
  display: flex;
  justify-content: space-between;
}

.campo-inferior .vale-desconto {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.campo-inferior .vale-desconto i {
  position: absolute;
  left: 0.5rem;
}

.campo-inferior .vale-desconto input {
  text-indent: 1.5rem;
}
