/* PÁGINA INICIAL */

/* NAVEGAÇÃO */
.navegação {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.navegação .nav-header {
  display: flex;
  align-items: center;
}

.navegação .nav-header i {
  margin-right: 2rem;
}

.navegação .nav-items {
  display: flex;
  align-items: center;
}

.navegação .nav-items .pesquisar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.navegação .nav-items .pesquisar i {
  position: absolute;
  left: 0.5rem;
}

.navegação .nav-items .pesquisar input {
  text-indent: 1.5rem;
}

.navegação .nav-items .menus i {
  margin-right: 1rem;
}

/* SECÇÕES PRODUTOS */
.produtos {
  margin: 4rem 0;
}

.produtos h2 {
  margin-bottom: 0.25rem;
}

.produtos .título {
  margin-bottom: 2rem;
}

.produtos .cartões-produto {
  display: flex;
  gap: 4rem;
}

.produtos .cartão-produto {
  width: 256px;
  display: flex;
  flex-direction: column;
}

.produtos .cartão-produto img {
  width: 100%;
  margin-bottom: 1rem;
}

.produtos .cartão-produto .nome {
  margin-bottom: 0.25rem;
}

.produtos .cartão-produto .data-entrega {
  display: flex;
  align-items: center;
  color: var(--cor-sucesso);
  margin-bottom: 0.5rem;
}

.produtos .cartão-produto .preço {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.produtos .cartão-produto .favoritos {
  display: flex;
  align-items: center;
}

.produtos .cartão-produto .favoritos i {
  color: var(--cor-alerta);
}

/* SECÇÃO OPINIÕES */
.opiniões {
  margin: 4rem 0;
}

.opiniões .título {
  margin-bottom: 2rem;
}

.opiniões .título h2 {
  margin-bottom: 0.25rem;
}

.opiniões .cartões-opinião {
  display: flex;
  gap: 4rem;
}

.opiniões .cartão-opinião {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 384px;
  height: 192px;
  border: 1px solid var(--cor-cinzento-10);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.opiniões .cartão-opinião .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.opiniões .cartão-opinião .header .estrelas {
  color: var(--cor-rating);
}

.opiniões .cartão-opinião .header .tempo {
  display: flex;
  align-items: center;
}

.opiniões .cartão-opinião .comentário {
  margin-bottom: 2rem;
}

.opiniões .cartão-opinião .comentário .categoria-pequeno {
  margin-bottom: 0.5rem;
}

.opiniões .cartão-opinião .perfil {
  display: flex;
  align-items: center;
}

.opiniões .cartão-opinião .perfil img {
  margin-right: 0.25rem;
}

.opiniões .classificações {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECÇÃO NEWSLETTER */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsletter .subscrição {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* RODAPÉ */
.rodapé {
  display: flex;
  justify-content: space-between;
}

.rodapé .rodapé-header img {
  width: 192px;
  margin-bottom: 0.25rem;
}

.rodapé .rodapé-header .redes-sociais {
  margin-top: 2rem;
}

.rodapé .rodapé-header .redes-sociais i {
  margin-right: 1rem;
}

.rodapé .rodapé-info {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.rodapé .rodapé-info li {
  margin-top: 0.25rem;
}

.rodapé .rodapé-pagamento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGIN */
.login {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 30rem;
}

.login .entrar {
  display: flex;
  flex-direction: column;
  width: 20rem ;
}

.login .entrar .btn-social {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.login .entrar #facebook {
  background-color: #4267b2;
  color: #fff;
}

.login .entrar #google {
  background-color: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.login .entrar .btn-social i {
  font-size: 1rem;
  margin-right: 1rem;
}

.login .entrar form .subtexto {
  margin: 0.5rem 0 2rem 0;
}

.login .registar .subtítulo {
  margin-bottom: 0.5rem;
}

.login .registar .vantagens {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.login .registar .vantagens i {
  color: var(--cor-sucesso);
}

.login .registar .btn-primário {
  margin-top: 2rem;
}

/* REGISTO */

.registo {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 30rem;
}

.registo .entrar #facebook {
  background-color: #4267b2;
  color: #fff;
}

.registo .entrar #google {
  background-color: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.registo .entrar .btn-social {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

/* DETALHES DE PRODUTO */
.apresentação {
  display: flex;
}

.fotografias {
  display: flex;
}

.miniaturas {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.info-produto {
  display: flex;
}

.informações {
  display: flex;
}

.informações i {
  color: var(--cor-sucesso);
}

