@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* RESET DE MARGENS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS GLOBAIS */
body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}
