@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* RESET DE MARGENS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* RESET ELEMENTOS */
a {
  text-decoration: none;
}

input {
  display: block;
}

/* VARIÁVEIS GLOBAIS */
:root {
  --cor-primária: #2994ff;
  --cor-alerta: #ff4a4a;
  --cor-sucesso: #00d800;
  --cor-rating: #ffbf00;
  --cor-cinzento-10: #cfdbe6;
  --cor-cinzento-60: #899098;
}

/* ESTILOS GLOBAIS */

/* TIPOGRAFIA */
body {
  font-family: 'Inter', sans-serif;
  width: 90%;
  margin: 2rem auto;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

.subtítulo {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtexto {
  font-size: 0.75rem;
}

.categoria-grande {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.categoria-médio {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.categoria-pequeno {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.cruzado {
  text-decoration: line-through;
}

.sublinhado-título {
  width: 6rem;
  height: 0.25rem;
  background-color: var(--cor-primária);
}

/* BOTÕES */
.btn-primário {
  display: block;
  font-family: inherit;
  border: none;
  border-radius: 0.25rem;
  background-color: var(--cor-primária);
  color: #fff;
  padding: 0.5rem 1rem;
}

.btn-social {
  display: block;
  font-family: inherit;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

/* DIVISÓRIAS */
.divisória-horizontal {
  width: 100%;
  height: 2px;
  background-color: var(--cor-cinzento-10);
}

.divisória-vertical {
  width: 2px;
  height: 100%;
  background-color: var(--cor-cinzento-10);
}

/* LOGO */
.logo {
  width: 192px;
}

/* CENTRAR */
.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PÁGINA INICIAL */

/* NAVEGAÇÃO */
.navegação {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navegação .nav-header {
  display: flex;
  align-items: center;
}

.navegação .nav-header i {
  margin-right: 1rem;
}

.navegação .nav-items {
  display: flex;
  align-items: center;
}

.navegação .nav-items .pesquisar {
  display: flex;
  align-items: center;
  border: 1px solid var(--cor-cinzento-10);
  border-radius: 0.25rem;
  width: 16rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin-right: 1rem;
}

.navegação .nav-items .pesquisar p {
  color: var(--cor-cinzento-60);
}

.navegação .nav-items .pesquisar i {
  margin-right: 0.25rem;
}

.navegação .nav-items .menus i {
  margin-right: 1rem;
}

/* SECÇÕES PRODUTOS */
.produtos {
  margin: 4rem 0;
}

.produtos h2 {
  margin-bottom: 0.25rem;
}

.produtos .título {
  margin-bottom: 2rem;
}

.produtos .cartões-produto {
  display: flex;
  gap: 4rem;
}

.produtos .cartão-produto {
  width: 256px;
  display: flex;
  flex-direction: column;
}

.produtos .cartão-produto img {
  width: 100%;
  margin-bottom: 1rem;
}

.produtos .cartão-produto .nome {
  margin-bottom: 0.25rem;
}

.produtos .cartão-produto .data-entrega {
  display: flex;
  align-items: center;
  color: var(--cor-sucesso);
  margin-bottom: 0.5rem;
}

.produtos .cartão-produto .data-entrega i {
  margin-right: 0.25rem;
}

.produtos .cartão-produto .preço {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.produtos .cartão-produto .favoritos {
  display: flex;
  align-items: center;
}

.produtos .cartão-produto .favoritos i {
  color: var(--cor-alerta);
}

/* SECÇÃO OPINIÕES */
.opiniões {
  margin: 4rem 0;
}

.opiniões .título {
  margin-bottom: 2rem;
}

.opiniões .título h2 {
  margin-bottom: 0.25rem;
}

.opiniões .cartões-opinião {
  display: flex;
  gap: 4rem;
}

.opiniões .cartão-opinião {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 384px;
  height: 192px;
  border: 1px solid var(--cor-cinzento-10);
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.opiniões .cartão-opinião .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.opiniões .cartão-opinião .header .estrelas {
  color: var(--cor-rating);
}

.opiniões .cartão-opinião .header .tempo {
  display: flex;
  align-items: center;
}

.opiniões .cartão-opinião .header .tempo i {
  margin-right: 0.25rem;
}

.opiniões .cartão-opinião .comentário {
  margin-bottom: 2rem;
}

.opiniões .cartão-opinião .comentário .categoria-pequeno {
  margin-bottom: 0.5rem;
}

.opiniões .cartão-opinião .perfil {
  display: flex;
  align-items: center;
}

.opiniões .cartão-opinião .perfil img {
  margin-right: 0.25rem;
}

.opiniões .classificações {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* seção newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter .condições {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.newsletter .subscrição {
  margin-bottom: 1rem;
}
.newsletter .condições input {
  margin-right: 0.25rem;
}

.newsletter .subscrição input {
  width: 12rem;
  padding: 0.5rem;
  outline: none;
  border: var(--cor-cinzento-10) 2px solid;
  border-radius: 0.25rem;
  font-family: inherit;
}
.newsletter h3 {
  margin-bottom: 1rem;
}

/* rodapé */

.rodapé {
  display: flex;
  justify-content: space-between;
}
.rodapé .rodapé-header img {
  width: 192px;
  margin-bottom: 0.25rem;
}
.rodapé .rodapé-header .redes-sociais {
  margin-top: 2rem;
}
.rodapé .rodapé-header .redes-sociais i {
  margin-right: 1rem;
}
.rodapé .rodapé-info {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}
.rodapé .rodapé-info p {
  margin-top: 0.25rem;
}

.rodapé .rodapé-pagamento {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGIN */
.login {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 30rem;
}

.login .entrar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login .entrar h3 {
  margin-bottom: 1rem;
}
.login .entrar .btn-social {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.login .entrar #facebook {
  background-color: #4267b2;
  color: #fff;
}
.login .entrar #google {
  background-color: #fff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
}
.login .entrar .btn-social i {
  font-size: 1rem;
  padding-right: 0.5rem;
}

.login .entrar .divisória {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 12rem;
  margin-top: 1rem;
}
.login .entrar form .dados{
  padding-top: 1rem;
}

.login .entrar form .subtexto {
  margin: 0.5rem 0 2rem 0;
}

.login .registar h3 {
  margin-bottom: 2rem;
}

.login .registar .subtítulo {
  margin-bottom: 0.5rem;
}

.login .registar .vantagens {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.login .registar .vantagens i {
  color: var(--cor-sucesso);
}

.login .registar .btn-primário {
  margin-top: 2rem;
}







